<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Developers SAC</title>
    {% block stylesheets %}
        <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/assets/css/bootstrap.css">
    {% endblock %}
</head>
<body>
<div class="container">
    {% block body %}
    {% endblock %}
</div>
{% block javascripts %}
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap.js"></script>
{% endblock %}